

@{
    Layout = null;


}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    More Templates Visit ==> Free-Template.co
    -->
    <title>碼農是好農-蔬菜ㄉ家</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Template by Free-Template.co" />
    <meta name="keywords" content="free bootstrap 4, free bootstrap 4 template, free website templates, free html5, free template, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="Free-Template.co" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">

    <link href="~/taste-master/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/taste-master/css/open-iconic-bootstrap.min.css" rel="stylesheet" />



    <link href="~/taste-master/css/animate.min.css" rel="stylesheet" />


    <link href="~/taste-master/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/taste-master/css/owl.theme.default.min.css" rel="stylesheet" />

    <link href="~/taste-master/css/magnific-popup.min.css" rel="stylesheet" />
    <link href="~/taste-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <link href="~/taste-master/css/jquery.timepicker.min.css" rel="stylesheet" />

    <link href="~/taste-master/css/icomoon.css" rel="stylesheet" />

    <link href="~/taste-master/css/style.min.css" rel="stylesheet" />

   

  

</head>
<body data-spy="scroll" data-target="#ftco-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("homepage","Home")">碼農是好農-蔬菜ㄉ家</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#section-home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#section-about" class="nav-link">關於我們</a></li>
                    <li class="nav-item"><a href="#section-offer" class="nav-link">新鮮食材</a></li>
                    <li class="nav-item"><a href="#section-menu" class="nav-link">超值生鮮食品</a></li>
                    <li class="nav-item"><a href="#section-news" class="nav-link">一起團購趣</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <section class="ftco-cover" style="  background-image: url('@Url.Content("~/taste-master/images/bg_3.jpg")')" id="section-home">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center ftco-vh-100">
                <div class="col-md-12">
                    <h1 class="ftco-heading ftco-animate mb-3">碼農是好農</h1>
                    <h2 class="h5 ftco-subheading mb-5 ftco-animate">搭建起農家和消費者間互相信任的橋樑</h2>
                    <p><a href="@Url.Action("homepage","Home")" class="btn btn-outline-white btn-lg ftco-animate">進入</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="ftco-section" id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ftco-animate mb-5">
                    <h4 class="ftco-sub-title">Our Story</h4>
                    <h2 class="ftco-primary-title display-4">Welcome</h2>
                    <p>讓家庭農場的用心被看見，讓台灣在地農業的價值亮起來。</p>
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p><a href="@Url.Action("homepage","Home")" class="btn btn-secondary btn-lg">開始購物</a></p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 ftco-animate img" data-animate-effect="fadeInRight">

                    <img src="~/taste-master/images/about_img_1.jpg" alt="Free Template by Free-Template.co">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
    <section class="ftco-section bg-light" id="section-offer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5 ftco-animate">
                    <h4 class="ftco-sub-title">碼農生鮮專區</h4>
                    <h2 class="display-4">Fresh &amp; Delicious</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel ftco-owl">
                        <div class="item">
                            <div class="media d-block text-center ftco-media ftco-animate border-0">
                                <img src="~/taste-master/images/offer_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
                                <div class="media-body p-md-5 p-4">
                                    <h5 class="mt-0 h4">上等肉品</h5>
                                    <p class="mb-4">肉類食物，或者簡稱肉類或葷菜，是從各種動物身上可供食用的肉及一些其他組織，經過不同程度及方法的加工，成為不同種類的肉類食物。</p>
                                    <p class="mb-0"><a href= "@Url.Action("homepage","Home")" class="btn btn-primary btn-sm">Order Now!</a></p>
                                </div>
                            </div>
                        </div><div class="item">
                            <div class="media d-block text-center ftco-media ftco-animate border-0">
                                <img src="~/taste-master/images/offer_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
                                <div class="media-body p-md-5 p-4">
                                    <h5 class="mt-0 h4">有機蔬果</h5>
                                    <p class="mb-4">蔬菜，是指可以做菜、烹飪成為食品的，除了穀物以外的其他植物。生活中所指的的蔬菜，常和「水果」分開討論。不過也常和水果合稱為「蔬果</p>
                                    <p class="mb-0"><a href="@Url.Action("homepage","Home")" class="btn btn-primary btn-sm">Order Now!</a></p>
                                </div>
                            </div>
                        </div><div class="item">
                            <div class="media d-block text-center ftco-media ftco-animate border-0">
                                <img src="~/taste-master/images/offer_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
                                <div class="media-body p-md-5 p-4">
                                    <h5 class="mt-0 h4">直送海鮮</h5>
                                    <p class="mb-4">海鮮又稱海產食物，是指利用海洋動物作成的料理，包括了魚類、甲殼類、貝類、軟體動物與棘皮動物,非常好吃非常,新鮮</p>
                                    <p class="mb-0"><a href="@Url.Action("homepage","Home")" class="btn btn-primary btn-sm">Order Now!</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="media d-block text-center ftco-media ftco-animate border-0">
                                <img src="~/taste-master/images/offer_4.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
                                <div class="media-body p-md-5 p-4">
                                    <h5 class="mt-0 h4">五穀雜糧</h5>
                                    <p class="mb-4">
                                        稻黍 粟 麥菽五穀原是中國古代所稱的五種穀物，後泛指糧食類作物，有「五穀豐登」的說法,非常好吃 非常美味
                                    </p>
                                    <p class="mb-0"><a href="@Url.Action("homepage","Home")" class="btn btn-primary btn-sm">Order Now!</a></p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END section -->
    <section class="ftco-section" id="section-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5 ftco-animate">
                    <h2 class="display-4">&amp;超值生鮮食品</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">每日推薦高CP值好物。網購宅配/店取都超方便。 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="nav ftco-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
                        <li class="nav-item ftco-animate">
                            <a class="nav-link active" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">肉品</a>
                        </li>
                        <li class="nav-item ftco-animate">
                            <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">海鮮</a>
                        </li>
                        <li class="nav-item ftco-animate">
                            <a class="nav-link" id="pills-dinner-tab" data-toggle="pill" href="#pills-dinner" role="tab" aria-controls="pills-dinner" aria-selected="false">蔬果</a>
                        </li>
                        <li class="nav-item ftco-animate">
                            <a class="nav-link" id="pills-rice-tab" data-toggle="pill" href="#pills-rice" role="tab" aria-controls="pills-rice" aria-selected="false">五穀雜糧</a>
                        </li>
                        <li class="nav-item ftco-animate">
                            <a class="nav-link" id="pills-source-tab" data-toggle="pill" href="#pills-source" role="tab" aria-controls="pills-source" aria-selected="false">調味品</a>
                        </li>
                    </ul>
                    <div class="tab-content text-left">
                        <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
                            <div class="row">
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=46})"><img class="mr-3" src="@Url.Action("photo","products",new { id=46})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">霜降去骨牛小排</h5>
                                            <p>
                                                ＊唯有1855讓您擁有最佳品級的美妙體驗
                                                ＊嚴選安格斯黑牛品種基因
                                                ＊肉質經完美熟成，脂香肉嫩!
                                                ＊天然穀物飼養,孕育出美味佳餚!
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>

                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=30})">
                                            <img class="mr-3" src="@Url.Action("photo","products",new { id=30})" class="img-fluid" alt="Free Template by Free-Template.co">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0">大大的雞肉</h5>
                                            <p>【標裕牧場 天然土雞雞塊(切) 500g】食用非基改飼糧 健康放走雞再進化</p>
                                            <h6 class="text-primary menu-price">$80</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=46})">
                                            <img class="mr-3" src="@Url.Action("photo","products",new { id=46})" class="img-fluid" alt="Free Template by Free-Template.co">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0">霜降去骨牛小排大螃蟹</h5>
                                            <p>常溫保存會變得較不脆口，建議冷藏保鮮喔～可以放置到塑膠袋中些微封口，再冷藏於蔬果室，並於一個禮拜內食用完畢！ </p>
                                            <h6 class="text-primary menu-price">$44</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=20})"><img class="mr-3" src="@Url.Action("photo","products",new { id=20})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">安培牛肉</h5>
                                            <p>
                                                ＊不使用生長激素及抗生素
                                                ＊不殘留任何瘦肉精、荷爾蒙
                                                ＊鮮美肉質
                                                ＊紮實口感
                                            </p>
                                            <h6 class="text-primary menu-price">$55</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=29})">
                                            <img class="mr-3" src="@Url.Action("photo","products",new { id=29})" class="img-fluid" alt="Free Template by Free-Template.co">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0">超Q雞肉</h5>
                                            <p>【標裕牧場 天然土雞雞塊(切) 500g】食用非基改飼糧 健康放走雞再進化</p>
                                            <h6 class="text-primary menu-price">$80</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=47})">
                                            <img class="mr-3" src="@Url.Action("photo","products",new { id=47})" class="img-fluid" alt="Free Template by Free-Template.co">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0">自然豬 小戰斧</h5>
                                            <p>
                                                ＊含龍骨
                                                ＊里肌肉及部分五花肉
                                                ＊無瘦肉精
                                                ＊無抗生素、生長激素
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab">
                            <div class="row">
                                <div class="col-md-6 ftco-animate">

                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=40})"><img class="mr-3" src="@Url.Action("photo","products",new { id=40})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">秋刀魚</h5>
                                            <p>
                                                常溫保存會變得較不脆口，建議冷藏保鮮喔～可以放置到塑膠袋中些微封口，再冷藏於蔬果室，並於一個禮拜內食用完畢！
                                            </p>
                                            <h6 class="text-primary menu-price">$44</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=52})"><img class="mr-3" src="@Url.Action("photo","products",new { id=52})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">台灣活凍白蝦</h5>
                                            <p>
                                                ＊採用純淨無毒海水養殖
                                                ＊利用活體急凍技術，鎖住鮮味
                                                ＊Q彈口感，讓人一吃就欲罷不能
                                                ＊小包裝適合小家庭使用
                                            </p>
                                            <h6 class="text-primary menu-price">$980</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=51})"><img class="mr-3" src="@Url.Action("photo","products",new { id=51})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">健康生態蝦仁</h5>
                                            <p>
                                                ＊不含膨發，不含化學添加物
                                                ＊HACCP /ISO22000雙重國際認證
                                                ＊無毒養殖，安心健康
                                                ＊方便料理，輕鬆享用美味
                                            </p>
                                            <h6 class="text-primary menu-price">$980</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=37})"><img class="mr-3" src="@Url.Action("photo","products",new { id=37})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">好白的花枝</h5>
                                            <p>
                                                常溫保存會變得較不脆口，建議冷藏保鮮喔～可以放置到塑膠袋中些微封口，再冷藏於蔬果室，並於一個禮拜內食用完畢！
                                            </p>
                                            <h6 class="text-primary menu-price">$44</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=45})"><img class="mr-3" src="@Url.Action("photo","products",new { id=45})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">極鮮日本丁香魚</h5>
                                            <p>
                                                ＊營養價值極高
                                                ＊高鈣特性
                                                ＊絕妙的配飯與下酒佳餚
                                                ＊煎、煮、炒、炸都非常容易
                                            </p>
                                            <h6 class="text-primary menu-price">$850</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=55})"><img class="mr-3" src="@Url.Action("photo","products",new { id=55})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">台灣大閘蟹</h5>
                                            <p>
                                                ＊一年就吃這一次！100%台灣養殖
                                                ＊大閘蟹獨特蟹膏香氣，新鮮飽滿濃郁
                                                ＊保證活蟹到府，超棒食材可送禮或自用
                                                ＊絕不含生長激素和孔雀綠(SGS)
                                                ＊正A級大閘蟹爆漿蟹膏鮮甜肥美難拒絕
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-dinner" role="tabpanel" aria-labelledby="pills-dinner-tab">
                            <div class="row">
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=58})"><img class="mr-3" src="@Url.Action("photo","products",new { id=58})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">道格拉斯水蜜桃</h5>
                                            <p>
                                                ＊「軟硬兼吃」兩種口感是美國水蜜桃的最大特色！
                                                ＊空運抵台的水蜜桃多半剛從果樹上摘下
                                                ＊爽脆有口感，飽滿的果肉，香甜多汁
                                                ＊清甜多汁帶著水蜜桃的香氣
                                                ＊美好滋味不輸日本水蜜桃
                                            </p>
                                            <h6 class="text-primary menu-price">$899</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=27})"><img class="mr-3" src="@Url.Action("photo","products",new { id=27})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">黃金金針菇</h5>
                                            <p>
                                                金針菇是高鉀低鈉、高營養低熱量的健康蔬菜，有助於降低血脂及膽固醇，是預防心血管疾病或肥胖的好食物
                                            </p>
                                            <h6 class="text-primary menu-price">$35</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=59})"><img class="mr-3" src="@Url.Action("photo","products",new { id=59})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">巨峰葡萄</h5>
                                            <p>
                                                ＊深色果粒，多汁的果肉
                                                ＊香味濃郁，果肉紮實
                                                ＊送禮自用兩相宜
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=76})"><img class="mr-3" src="@Url.Action("photo","products",new { id=76})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">青翠高麗菜</h5>
                                            <p>
                                                常溫保存會變得較不脆口，建議冷藏保鮮喔～可以放置到塑膠袋中些微封口，再冷藏於蔬果室，並於一個禮拜內食用完畢！
                                            </p>
                                            <h6 class="text-primary menu-price">$22</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=60})"><img class="mr-3" src="@Url.Action("photo","products",new { id=60})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">高山小蓮霧</h5>
                                            <p>
                                                ＊秋天開始為蓮霧的盛產期
                                                ＊柔和的甜味及香氣
                                                ＊新鮮自然風味
                                            </p>
                                            <h6 class="text-primary menu-price">$980</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=36})"><img class="mr-3" src="@Url.Action("photo","products",new { id=36})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">紅羅蔔</h5>
                                            <p>
                                                常溫保存會變得較不脆口，建議冷藏保鮮喔～可以放置到塑膠袋中些微封口，再冷藏於蔬果室，並於一個禮拜內食用完畢！
                                            </p>
                                            <h6 class="text-primary menu-price">$22</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-rice" role="tabpanel" aria-labelledby="pills-rice-tab">
                            <div class="row">
                                <div class="col-md-6 ftco-animate">

                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=61})"><img class="mr-3" src="@Url.Action("photo","products",new { id=61})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">台東池上米</h5>
                                            <p>
                                                ＊產地保證：所生產稻穀之農地皆位於池上鄉行政區域內
                                                ＊安全保證：每一塊生產池上米的農地在收割前，需由池上鄉公所派員抽樣檢驗農藥殘留，通過安全標準者才核發安全證明，農民才可以收割入倉
                                            </p>
                                            <h6 class="text-primary menu-price">$2580</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=62})"><img class="mr-3" src="@Url.Action("photo","products",new { id=62})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">台糖 有機糙米</h5>
                                            <p>
                                                台糖
                                                有機糙米(2KG/包) 有機農業係不使用化學肥料、化學農藥、生長調節劑等
                                            </p>
                                            <h6 class="text-primary menu-price">$980</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=63})"><img class="mr-3" src="@Url.Action("photo","products",new { id=63})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0"> 好田米 黑米</h5>
                                            <p>
                                                ＊黑米又稱做「長壽米」
                                                ＊富含花青素、膳食纖維及多種微量元素
                                                ＊與白米混煮，口感更佳
                                                ＊免浸泡料理方便
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=64})"><img class="mr-3" src="@Url.Action("photo","products",new { id=64})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">義大利筆尖麵</h5>
                                            <p>
                                                ＊源自1824年開始製麵
                                                ＊是義大利麵老字號的經典品牌
                                                ＊使用非基改杜蘭小麥
                                                ＊是餐桌上不可或缺的好夥伴
                                            </p>
                                            <h6 class="text-primary menu-price">$78</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=65})"><img class="mr-3" src="@Url.Action("photo","products",new { id=65})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">皇品 郭關廟麵</h5>
                                            <p>
                                                ＊遵循古法，堅持使用最好的麵粉製作
                                                ＊麵條更耐煮、口感更有彈性、口感極佳
                                                ＊天下雜誌專訪，關廟麵中的極品~喻為：皇品麵
                                                ＊伴手禮的最佳選擇
                                            </p>
                                            <h6 class="text-primary menu-price">$123</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=66})"><img class="mr-3" src="@Url.Action("photo","products",new { id=66})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">四川吳抄手</h5>
                                            <p>
                                                ＊60年老字號道地川味
                                                ＊堅持手工製作紅油抄手
                                                ＊薄而滑溜的外皮
                                                ＊獨門醬汁與鮮甜的後豬腿肉餡完美結合
                                            </p>
                                            <h6 class="text-primary menu-price">$210</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-source" role="tabpanel" aria-labelledby="pills-source-tab">
                            <div class="row">
                                <div class="col-md-6 ftco-animate">

                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=67})"><img class="mr-3" src="@Url.Action("photo","products",new { id=67})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">古早味蔭油露</h5>
                                            <p>
                                                ＊遵循古法採用甕藏足180天以上
                                                ＊非基因改造豆麥自然發酵
                                                ＊無添加防腐劑與焦糖色素
                                                ＊沾蒸煮拌都適合
                                                ＊素食可用
                                                <h6 class="text-primary menu-price">$169</h6>
</div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=68})"><img class="mr-3" src="@Url.Action("photo","products",new { id=68})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">安安 辣豆瓣</h5>
                                            <p>
                                                ＊正宗岡山名產
                                                ＊使用非基因改造黃豆
                                                ＊台灣製造
                                                ＊真空封蓋，不含防腐劑
                                            </p>
                                            <h6 class="text-primary menu-price">$900</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=69})"><img class="mr-3" src="@Url.Action("photo","products",new { id=69})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">馬沙曼咖哩醬</h5>
                                            <p>
                                                ＊餐廳等級的泰式咖哩風味
                                                ＊已經調好魚露和椰奶的比例
                                                ＊泰國原裝進口，份量約2-3人份
                                                ＊美味料理輕鬆上桌
                                                ＊調理包、料理包，加熱即食
                                                ＊免浸泡料理方便
                                            </p>
                                            <h6 class="text-primary menu-price">$500</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ftco-animate">
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=70})"><img class="mr-3" src="@Url.Action("photo","products",new { id=70})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">東和製油 苦茶油</h5>
                                            <p>
                                                ＊遵循古法，採用低溫、冷壓工法
                                                ＊使用上等苦茶籽，帶淡淡的茶籽香
                                                ＊無使用防腐劑、香料、化學添加物
                                                ＊全素食可用
                                            </p>
                                            <h6 class="text-primary menu-price">$450</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=71})"><img class="mr-3" src="@Url.Action("photo","products",new { id=71})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">奧利塔葵花油</h5>
                                            <p>
                                                *不飽和脂肪含量高達88%
                                                ＊富含維他命E
                                                ＊100%純度葵花油
                                                ＊適合國人高溫烹調習慣
                                            </p>
                                            <h6 class="text-primary menu-price">$580</h6>
                                        </div>
                                    </div>
                                    <div class="media menu-item">
                                        <a href="@Url.Action("Details","products",new { id=72})"><img class="mr-3" src="@Url.Action("photo","products",new { id=72})" class="img-fluid" alt="Free Template by Free-Template.co"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0">東和製油 黑芝麻油</h5>
                                            <p>
                                                ＊百年古法技藝傳承，堅持冷壓初榨
                                                ＊嚴選100%黑芝麻
                                                ＊無使用防腐劑、香料、化學添加物
                                                ＊全素食可用
                                            </p>
                                            <h6 class="text-primary menu-price">$210</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
    <section class="ftco-section bg-light" id="section-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5 ftco-animate">
                    <h2 class="display-4">&amp;一起團購趣 </h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">想要合購省運費、搶優惠卻沒有「咖」嗎？愛合購能幫您找到附近生活圈、相同喜好的合購咖，快來愛合購找人一起合購吧！</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="media d-block mb-4 text-center ftco-media ftco-animate">
                        <img src="@Url.Action("photo","products",new {id=80})" alt="Free Template by Free-Template.co" class="img-fluid" style="height:200px">
                        <div class="media-body p-md-5 p-4">
                            <h5 class="mt-0 h4">【10入咔啦 禮盒組】</h5>
                            <p class="mb-4">金秋濃情獻禮中秋禮盒預購優惠中</p>
                            <p class="mb-0"><a href="@Url.Action("showdetial","manybuy",new { id=2034})" class="btn btn-primary btn-sm">詳細資料</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="media d-block mb-4 text-center ftco-media ftco-animate">
                        <img src="@Url.Action("photo","products",new { id=81})" alt="Free Template by Free-Template.co" class="img-fluid" style="height:200px">
                        <div class="media-body p-md-5 p-4">
                            <h5 class="mt-0 h4">超值年菜禮盒</h5>
                            <p class="mb-4">走春送禮，表達真心誠意。</p>
                            <p class="mb-0"><a href="@Url.Action("showdetial","manybuy",new { id=2037})" class="btn btn-primary btn-sm">詳細資料</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="media d-block mb-4 text-center ftco-media ftco-animate">
                        <img src="@Url.Action("photo","products",new { id=82})" alt="Free Template by Free-Template.co" class="img-fluid" style="height:200px">
                        <div class="media-body p-md-5 p-4">
                            <h5 class="mt-0 h4">好吃的雞蛋</h5>
                            <p class="mb-4">非常好吃的雞蛋但</p>
                            <p class="mb-0"><a href="@Url.Action("showdetial","manybuy",new { id=2038})" class="btn btn-primary btn-sm">詳細資料</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->



  


    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 bg-image" style="background-image: url(images/bg_3.jpg);"></div>
                        <div class="col-lg-8 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>CLOSE </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">Reserve A Table</h1>
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_fname">First Name</label>
                                        <input type="text" class="form-control" id="m_fname">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_lname">Last Name</label>
                                        <input type="text" class="form-control" id="m_lname">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="m_email">Email</label>
                                        <input type="email" class="form-control" id="m_email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_people">How Many People</label>
                                        <select name="" id="m_people" class="form-control">
                                            <option value="1">1 People</option>
                                            <option value="2">2 People</option>
                                            <option value="3">3 People</option>
                                            <option value="4+">4+ People</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_phone">Phone</label>
                                        <input type="text" class="form-control" id="m_phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_date">Date</label>
                                        <input type="text" class="form-control" id="m_date">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_time">Time</label>
                                        <input type="text" class="form-control" id="m_time">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="m_message">Message</label>
                                        <textarea class="form-control" id="m_message" cols="30" rows="7"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reserve Now">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/taste-master/js/jquery.min.js"></script>
    <script src="~/taste-master/js/popper.min.js"></script>
    <script src="~/taste-master/js/bootstrap.min.js"></script>

    <script src="~/taste-master/js/jquery.easing.1.3.min.js"></script>
    <script src="~/taste-master/js/jquery.waypoints.min.js"></script>

    <script src="~/taste-master/js/owl.carousel.min.js"></script>
    <script src="~/taste-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/taste-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/taste-master/js/jquery.timepicker.min.js"></script>

    <script src="~/taste-master/js/jquery.animateNumber.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/taste-master/js/google-map.min.js"></script>
    <script src="~/taste-master/js/main.js"></script>



</body>
</html>